body{    
    background: url(img/FON.jpg);
}
.Heading{
    width:80%;
    height: 30%;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    background: black;
}
.heading1{
    width: 20%;
    height: 100%%;
}
.heading2{
    width: 60%;
    background-color:black;
    height: 100%;   
}
.redtext{
    color:red;
    font-size: 150px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.whitetext{
    color: white;
    font-size: 150px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.headtext{
    color: white;
    font-size: 50px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.center{
    text-align: center;
}
li{
    font-weight: bold;
    padding: 5px;
}
.redli{
    color:red;
}
.blackli{
    color:black;
    type:disc;
}
.main_info{
    width: 80%;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    background-color:white;
    padding: 20px 0;
}
.info1{
    font-size: 25px;
    width: 25%;
}
.info2{
    width: 75%;
    padding: 50px;
    border-left: dotted;
}

.img1{
    width: 100%;
    height: 100%;
}

.foot{
    width:80%;
    margin: 0 auto;
    height: 500px;
}

